<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Event Info</title>
   <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
   <style>
   body{
         font-family: 'Roboto Condensed', sans-serif;
         text-align:center;
         background-color:black;
         color:white;
       }
       .head{
         border:1px solid black;
         padding:10px;
         background-color:red;
         font-size:150%;
       }
     a:link, a:visited{
       color:orange;
     }
     a:active{
       background-color:black;
     }
   </style>
   <link rel="icon" 
      type="image/png" 
      href="http://tedxyouthaustin.com/wp-content/themes/theme1763/favicon.ico">
 </head>
 <body>
   <a href = "/" class = head>Home</a>
   <a href = "/speakers.erb" class = head>Speakers</a>
   <a href = "/event_info.erb" class = head>Event Info</a>
   <a href = "/team.erb" class = head>The Team</a>
   <a href = "/theme.erb" class = head>The Theme</a>
   <br><br>
   <h2><strong>When:</strong></h2>
   <p>February 13, 2015</p>
   <h2><strong>What:</strong></h2>
   <p>With engaging stories, inspiring performances, and intriguing presentations, we will explore what the theme means to each of us.  Is it the incredible passion and dedication of youth?  Is it their boundless creativity and imagination?  Is it their enthusiasm and optimism?</p>
   <h2><strong>Where:</strong></h2>
   <p>Westlake High School Performing Arts Center<br>4100 Westbank Drive<br>Austin, TX  78746<br><br>Westlake Performing Arts Center is located at 4100 Westbank Dr, Austin 78746<br><br>For driving directions from your location, click <a href = "https://www.google.com/maps/place/Westlake+High+School/@30.27595,-97.813768,16z/data=!4m2!3m1!1s0x0:0xe1f5f317f96b40c9" target = "_blank">here</a>.<br><br>If you are planning to use Capital Metro, the closest stop to Westlake is Stop ID – 2185<br>Stop Name – WALSH TARLTON/WILDERNESS. Then proceed up Pinnacle Rd. towards Westbank Dr.<br><br>We’ll have team members and signage directing traffic toward the parking lot and drop-off circle.<br><br>-Parking is plentiful and indicated in the diagram below. Proceed directly to the parking lot and reserve the drop-off circle for those whose drivers will not be joining us for the event.<br><br>-For those being dropped off, please use the drop off circle at the PAC entrance and ask your friendly driver to follow the traffic pattern indicated by the red arrows on the image below to exit the campus.<br><br>-Please use the same traffic pattern for pick-up.</p>
   <img src = "http://tedxyouthaustin.com/wp-content/uploads/2014/02/TEDxParkingRed.jpg">
 </body>
</html>