<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>TedxYouth@Austin App</title>
   <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
   <style>
     body{
       text-align:center;
       font-family: 'Roboto Condensed', sans-serif;
       background-color:black;
       color:white;
     }
     .head{
       border:1px solid black;
       padding:10px;
       background-color:red;
       font-size:150%;
     }
     a:link, a:visited{
       color:orange;
     }
     a:active{
       background-color:black;
     }
   </style>
   <link rel="icon" 
      type="image/png" 
      href="http://tedxyouthaustin.com/wp-content/themes/theme1763/favicon.ico">
 </head>
 <body>
   <a href = "/" class = head>Home</a>
   <a href = "/speakers.erb" class = head>Speakers</a>
   <a href = "/event_info.erb" class = head>Event Info</a>
   <a href = "/team.erb" class = head>The Team</a>
   <a href = "/theme.erb" class = head>The Theme</a>
   <br>
   <br>
   <h1>Welcome to our App</h1>
   <p>In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxYouth@Austin, where x = independently organized TED event. At our TEDxYouth@Austin event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual <a href = "https://www.ted.com/about/programs-initiatives/tedx-program">TEDx</a> events, including ours, are self-organized.<br>A group of youth and adult speakers and performers are coming together to share their “ideas worth spreading”; TEDxYouth@Austin is an annual forum created to bring high school and middle school students from the central Texas area into the TEDx movement.  With engaging stories, inspiring performances, and intriguing presentations, we will explore the theme of (in)visible. Learn more about the theme <a href = "/theme.erb">here</a>!</p>
   <img src = "http://tedxyouthaustin.com/wp-content/uploads/2014/02/TEDxYouth@Austin2-e1350941401633.png"><br>
   
 </body>
</html>