<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Name of Speaker 1</title>
   <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
   <style>
     body{
       font-family: 'Roboto Condensed', sans-serif;
       text-align:center;
       background-color:black;
       color:white;
     }
     .head{
         border:1px solid black;
         padding:10px;
         background-color:red;
         font-size:150%;
     }
     a:link, a:visited{
       color:orange;
     }
     a:active{
       background-color:black;
     }
   </style>
   <link rel="icon" 
      type="image/png" 
      href="http://tedxyouthaustin.com/wp-content/themes/theme1763/favicon.ico">
 </head>
 <body>
   <a href = "/" class = head>Home</a>
   <a href = "/speakers.erb" class = head>Speakers</a>
   <a href = "/event_info.erb" class = head>Event Info</a>
   <a href = "/team.erb" class = head>The Team</a>
   <a href = "/theme.erb" class = head>The Theme</a>
   <br>
   <br>
   <h1>First Last</h1>
   <img src = "https://lh6.googleusercontent.com/-xg2_mX9KbaQ/AAAAAAAAAAI/AAAAAAAAAAA/s9KBoZhxq1o/photo.jpg?sz=120">
   <h3>Summary:</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at dui sed urna dapibus iaculis sed quis turpis. Sed blandit quam et ultrices dapibus. Quisque a pulvinar dui. Donec iaculis mauris diam, non rhoncus metus ullamcorper nec. In dignissim convallis est, at dictum sem accumsan auctor. Sed ac dolor aliquam, lobortis turpis quis, tristique velit. Nullam gravida odio ut felis sodales, et aliquet arcu iaculis. In quis aliquet lectus, quis posuere turpis. Etiam fermentum elit rutrum metus sollicitudin feugiat. Praesent sollicitudin sapien luctus porta mollis. Cras sodales est eget urna sagittis suscipit. Suspendisse non hendrerit nisi, a eleifend magna. Aliquam malesuada bibendum orci ut lobortis. Nullam porttitor feugiat magna, non euismod turpis facilisis blandit. Curabitur vehicula molestie risus eu egestas.</p>
   <h2>Contact info:</h2>
   <p><strong>Email:</strong> first.last@gmail.com</p>
   <p><strong>Moblie Telephone:</strong> (512)777-7777</p>
   <p><strong>Work Telephone:</strong> (512)123-4567</p>
   <p><strong>LinkedIn:</strong> First Last</p>
   <p><strong>Website:</strong> <a href = "https://www.google.com/webhp?source=search_app&gws_rd=ssl" target = "_blank">www.google.com</a></p>
 </body>
</html>