<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Team</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
   <style>
     body{
       text-align:center;
       font-family: 'Roboto Condensed', sans-serif;
       background-color:black;
       color:white;
     }
     .head{
       border:1px solid black;
       padding:10px;
       background-color:red;
       font-size:150%;
     }
     a:link, a:visited{
       color:orange;
     }
     a:active{
       background-color:black;
     }

   </style>
   <link rel="icon" 
      type="image/png" 
      href="http://tedxyouthaustin.com/wp-content/themes/theme1763/favicon.ico">
 </head>
 <body>
   <a href = "/" class = head>Home</a>
   <a href = "/speakers.erb" class = head>Speakers</a>
   <a href = "/event_info.erb" class = head>Event Info</a>
   <a href = "/team.erb" class = head>The Team</a>
   <a href = "/theme.erb" class = head>The Theme</a>
   <br>
   <br>
   <img src = "https://lh6.googleusercontent.com/-xg2_mX9KbaQ/AAAAAAAAAAI/AAAAAAAAAAA/s9KBoZhxq1o/photo.jpg?sz=120">
   <h1>Johnny Appleseed, Youth Head of TedxYouth@Austin</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at dui sed urna dapibus iaculis sed quis turpis. Sed blandit quam et ultrices dapibus. Quisque a pulvinar dui. Donec iaculis mauris diam, non rhoncus metus ullamcorper nec. In dignissim convallis est, at dictum sem accumsan auctor. Sed ac dolor aliquam, lobortis turpis quis, tristique velit. Nullam gravida odio ut felis sodales, et aliquet arcu iaculis. In quis aliquet lectus, quis posuere turpis. Etiam fermentum elit rutrum metus sollicitudin feugiat. Praesent sollicitudin sapien luctus porta mollis. Cras sodales est eget urna sagittis suscipit. Suspendisse non hendrerit nisi, a eleifend magna. Aliquam malesuada bibendum orci ut lobortis. Nullam porttitor feugiat magna, non euismod turpis facilisis blandit. Curabitur vehicula molestie risus eu egestas.</p>
   <img src = "https://lh6.googleusercontent.com/-xg2_mX9KbaQ/AAAAAAAAAAI/AAAAAAAAAAA/s9KBoZhxq1o/photo.jpg?sz=120">
   <h1>David Crockett, Head of xLabs</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at dui sed urna dapibus iaculis sed quis turpis. Sed blandit quam et ultrices dapibus. Quisque a pulvinar dui. Donec iaculis mauris diam, non rhoncus metus ullamcorper nec. In dignissim convallis est, at dictum sem accumsan auctor. Sed ac dolor aliquam, lobortis turpis quis, tristique velit. Nullam gravida odio ut felis sodales, et aliquet arcu iaculis. In quis aliquet lectus, quis posuere turpis. Etiam fermentum elit rutrum metus sollicitudin feugiat. Praesent sollicitudin sapien luctus porta mollis. Cras sodales est eget urna sagittis suscipit. Suspendisse non hendrerit nisi, a eleifend magna. Aliquam malesuada bibendum orci ut lobortis. Nullam porttitor feugiat magna, non euismod turpis facilisis blandit. Curabitur vehicula molestie risus eu egestas.</p>
   
 </body>
</html>