<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Theme</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
   <style>
     body{
       text-align:center;
       font-family: 'Roboto Condensed', sans-serif;
       background-color:black;
       color:white;
     }
     .head{
       border:1px solid black;
       padding:10px;
       background-color:red;
       font-size:150%;
     }
     ul{
       list-style-type: none;
     }
     a:link, a:visited{
       color:orange;
     }
     a:active{
       
     }
   </style>
   <link rel="icon" 
      type="image/png" 
      href="http://tedxyouthaustin.com/wp-content/themes/theme1763/favicon.ico">
 </head>
 <body>
   <a href = "/" class = head>Home</a>
   <a href = "/speakers.erb" class = head>Speakers</a>
   <a href = "/event_info.erb" class = head>Event Info</a>
   <a href = "/team.erb" class = head>The Team</a>
   <a href = "/theme.erb" class = head>The Theme</a>
   <br>
   <br>
   <h1>The Theme</h1>
   <ul>
     <li>Connecting between things to bigger picture</li>
     <li>Evolution of a big idea</li>
     <li>Culmination of each step of growth</li>
     <li>Celebrate our connections to one another and what is possible</li>
     <li>Waking up potential</li>
     <li>Open Possibility</li>
     <li>All interactions are related and have an impact on each other</li>
     <li>Importance of utilizing our collective resources.</li>
     <li>None of us stand alone in this process, and each strength recycled to another has a ripple effect</li>
     <li>Things have a way of coming back around to you, sometimes when you least expect it. </li>
     <li>Unity, communication, open mindedness, and ingenuity</li>
     <li>Coming back to the beginning or seeing the big picture. We try to live one step at a time, but this often gives us tunnel vision and we don't always see what's really happening. Fullcircle represents stepping back and putting everything into one image. </li>
     
   </ul>
 </body>
</html>